admin/node_modules

admin/# misc
admin/.DS_Store
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local

admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*

admin/.idea
admin/DS_Store
admin/package-lock.json
wp_chat64.*